*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

/* top nav css */
.top-nav{
    background-color: #87020f;
    color: white;
}
.top-link a{
    color: white;
}
ul.top-nav-ul.pt-1 li a {
    padding-left: 10px;
}
.top-nav select{
    border-style: hidden;
    background-color: #87020f;
    color: white;
    cursor: pointer;
}
.top-nav ul {
    list-style-type: none;
    margin: 0;
}
.top-nav ul li {
    padding-left: 5px !important;
}
.top-nav div div div:nth-child(1) ul li {
    float: left;
    padding: 5px;
}
.top-nav-ul li a{
    color: white;
}
.top-nav-ul{
    float: right;
}
.navigation ul li{
    border-right:1px solid white;
}

.top-link a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.icon-hov:hover{
    color:rgb(0, 0, 0);
}
/* top nav sec2 */
.logo-sec div div div:nth-child(2) a {
    background-color: #09aca9;
    color: white;
    padding: 10px 30px !important;
    margin-top: 25px;
}
.logo-sec a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 0, 0, 0.836) !important;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.5);

}

/* nav sec */
.navigation{
    background-color: #09aca9;
}
nav ul li a{
    font-size: 14px;
    color: rgb(255, 255, 255) !important;
    padding: 15px 15px !important;
    letter-spacing: 0.60px;
    font-weight:700;
    line-height: 20px;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.774);
}
.active{
    background-color: rgba(0, 0, 0, 0.521);
}
nav ul li a:hover{
    color: rgb(255, 255, 255) !important;
}
nav.navbar.navbar-expand-md.navbar-light {
    padding: 0;
}
.navigation ul li:last-child {
    border: 0px;
}

/* middle sec content */
.content{
    background-color: #09aca9;
}
.content h4{
    font-size: 35px;
    font-weight: 600;
}
.content h5{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

/* middle sec content3 */

.content3{
    background-image: url('img/footer.JPG');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}
.content3 .col-12{
    margin: 100px 0;
}
.content3 .col-12 div h1,h4{
    font-weight: bold;
}
.content3 h4{
    padding-top: 20px !important;
    display:block;
}

/* middle sec content2 */
.back-design{
    position: relative;
}
.content2 .row {
    padding: 40px 0;
}
.col-sm-12.col-md-6.back-design {
    padding: 37px;
}
.content2 h4{
    color: #09aca9;
    font-weight: 700;
    font-size: 35px;
    margin-top: 30px;
}

.content2 .row .myimg
{
    position: relative;
}
.content2 .row .myimg:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -28px;
    left: -36px;
    border: 15px solid #87020f;
    z-index: -1;
}

/* caro css */
.carousel-caption{
    top: 0%;
    background-color: #09aca973;
    width: 50%;
    height: 100%;
    text-align: left;
}
.carousel-caption div{ 
    margin: 50px 20px;
}
.carousel-caption div h1,h4,a{
    font-weight: bold;
}
.carousel-caption div h1{
    font-size: 30px;
}
.carousel-caption div h4{
    font-size: 20px;
}
.carousel-caption a{
    margin-top: 10px !important;
    display: inline-block;
    color: white;
    background-color: #09aca9;
    padding: 10px 30px 10px 30px !important;
}



.caro-btn{
    background-color: #87020f !important;
    padding: 15px !important;
}



/* footer sec css */
.footer-sec1{
    background-image:linear-gradient(rgba(0,0,0, 0.52), rgba(0,0,0, 0.73)),url('img/footer.JPG');
    color: white;
    height: 400px;
    background-size: cover;
}
.footer-sec2{
    background-color: black;
    color: white;
}
.footer-sec2 ul{
    list-style-type: none;
}
.footer-sec2 ul li{
    padding-top: 5px;
}
.footer-sec2 ul li a{
    transition: all 0.4s ease;
    color: white;
}
.social-icons li a{
    font-size: 30px;
}
.social-icons li a:hover{
    font-size: 35px;
}

.footer-sec2 ul li a:hover{
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

.footer-sec3 ul{
    list-style-type: none;
}
.footer-sec3 ul li{
    display: inline-block;
}
.hor-line{
    border-left: 1px solid rgb(255, 255, 255);
}
.footer-sec1 .row {
    display: flex;
    align-items: center;
    height: 100%;
}



/* sticky social button */
.icon-bar {
    position: fixed;
    z-index: 5;
    top: 40%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  
  .icon-bar a {
    z-index: 100;
    display: block;
    writing-mode:vertical-rl;
    margin: 20px 0;
    padding: 20px 10px;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #09aca9;
    border-left: 0px;
    background-color: rgb(255, 255, 255);
  }
  
  .icon-bar a:hover {
    color: rgb(255, 0, 0);
  }
  /* go to top btn */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-color: #87020f85;
  }
  
  #myBtn:hover {
    background-color: #87020f;
  }
/* whatsapp btn */
  #wabtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(9, 255, 0, 0.555);
  }
  
  #wabtn:hover {
    background-color: rgba(9, 255, 0, 0.973);
  }

/* about css */
.image{
    background-image: url('https://naz.com.pk/wp-content/uploads/2021/01/trademark.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}
.fa-check{
    color: green;
}
.img-heading{
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding:15% 0 ;
}
.about-sec2{
    padding:70px 0;
}
.about-sec2 h1{
    font-weight: 600;
    font-size: 35px;
}
.about-sec2 ul li{
    padding: 5px 0;
}

/* contact css */

.con-content ul{
    list-style: none;
}
.con-content ul li{
    padding:5px 0 0 20px ;
}
.form-btn{
    padding:10px 30px ;
    color: white;
    background-color: #09aca9;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    margin: auto;
}
.form-btn:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
}
.form-control{
    border: 2px solid black !important;
    border-radius: 2px ;
}
html
{
    scroll-behavior: smooth;
}