*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-family{
    font-family: 'Oswald' !important;
}
.head-sec1{
    background-color: #42b439;
}
.head-sec1 ul{
    float: right;
    margin: 0;
}
.head-sec1 ul li{
    display: inline-block;
    padding: 5px;
}
.head-sec1 ul li:first-of-type{
    margin-right: 30px;
}
.top-nav-icon{
    margin-right: 5px;
    color: #42b439;
    background-color: white;
    padding: 4px 5px 2px 5px;
    font-size: 12px;
    border-radius: 2px;
}

/* head sec2 */
.head-sec2{
    padding: 10px 0;
}
.nav-title{
    position: absolute;
    z-index: 1;
    left: 129px;
    font-size: 24px;
    color: black;
}
/* logo section */
.head-sec2 .contianer{
    position:relative;
}
.navbar-toggler{
    z-index: 99999;
    right: 0;
    top: -1;
    position: absolute;
    background-color: black !important;
}
.logo{
    z-index: 5;
    top: 0;
    position: absolute;
}
/* nav */
.home-active{
    background-color: #1e6030;
    padding: 10px 20px !important;
}
.navbar-nav a{
    /* padding: 10px 20px !important; */
    font-size: 18px;
    border-radius: 10px; 
    margin: 0 5px;
}
.navbar-nav a:hover{
  color: #ffffff !important;
}
.navbar-nav a:hover{
  background-color: #1e6030 !important;

}
.dropdown-item{
    border-radius: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
}
/* dropdown hover */
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown-menu{
    
    width: 250% !important;
}
.dropdown-menu a{
    font-size: 18px !important;
    padding:5px 20px !important ;
    width: 100% !important;
    background-color: transparent !important;
    border-bottom: 2px solid #42b439;
}
.navbar-nav .dropdown-menu a:hover{
    background-color: rgb(255, 255, 255) !important;
    color: #1e6030 !important;
}
/* banner */
.banner{
    position: relative;
}
.img-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    background-color: #1e603086;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 10px 40px 10px;
}
.img-caption h1{
    font-size: 35px;
    line-height: 1.1;
    font-weight: 600;
    color: white;
    margin: 0;
}
.img-caption a{
    color: white;
    background-color: #42b439;
    padding: 10px 60px !important;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 30px !important;
    display: inline-block;
}
.img-caption a:hover{
    color: white;
    text-decoration: none;
    filter: drop-shadow(0 0 0.5rem black);
}

/* section-5 */
.head-sec5{
    background-color: #1e6030;
    color: white;
}
.head-sec5 h3{
  margin: 0 !important;
  padding: 0 !important;
  font-size:23px ;
  color: white!important;
  display: inline-block;
  font-weight: 600;
}
.head-sec5 div div div {
    padding: 18px 15px !important;
}
.head-sec5 a{
    color: white !important;
    background-color: #42b439;
    margin-left: 100px !important;
    padding: 10px 50px 10px 50px !important;
    font-weight: 600;
}
.head-sec5 a:hover{
    text-decoration: none;
    box-shadow: 5px 5px 5px black;
}

/* bd sec sec1*/
.bd-sec1{
    margin-bottom:80px ;
}
.bd-sec1 h1{
    text-align: center;
    color: #1e6030;
    font-weight: 600;
    font-size: 30px;
}
.img-sec{
    position: relative;
}
.bd-img img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}
.bd-img-cap{
    position: absolute;
    z-index: 55;
    left: 15%;
    bottom: -40;

}
.bd-img-cap p{
    background-color: #42b439;
    border: 10px solid white;
    color: white;
    border-radius:10px ;
    text-align: center;
    border-radius:20px ;
    margin-bottom: 0;
    padding: 10px 20px;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

/* footer */
.foo-sec1{
    padding: 50px 0;
}
.foo-sec1 *{
    border: 0px;
}
.foo-sec1 th h4{
    margin: 0 0 !important;
    font-weight: 600;
    color: #1e6030;
    padding-bottom: 15px !important;
}
.tab1 tr td i{
    color: #1e6030;
    font-size:18px ;
    padding-left: 10px;
}
.tab1 tr:last-of-type{
    padding-top: 0 !important;
}
.tab1 tr:nth-child(4) td:first-of-type{
    padding-top: 0;
}
.tab1 tr td:last-child{
    font-size:18px ;
    padding-left: 0;
}
.tab2 tr td i{
    padding: 0 5px;
    font-size: 18px;
}
.tab2 tr td a{
    font-size: 18px;
    color: black;
}
.tab2 tr td a:hover{
    text-decoration: none;
    color: #1e6030;
}
.tab3 tr th,.tab3 tr td{
    float: right;
}
.tab3 tr td ul li{
    display: inline-block;
    border-radius: 20px !important;
}
.tab3 tr td ul li a i{
    font-size: 18px;
    padding: 10px;
}


/* 
.foo-sec1 ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    border-radius: 100%;
}

.tab1 td{
    padding: 10px;
    font-weight: bold;
}

.tab2 td{
    padding: 5px 20px 5px 5px;
    font-weight: bold;
}
.tab2 a{
    color:black;
}
.tab2 a:hover{
    color: #42b439;
}
section.foo-sec1.py-5 table {
  padding: 0px !important;
  border: 0px !important;
} */
section.foo-sec2 h5 {
  margin: 0;
}
.foo-sec2{
    background-color: #42b439;
    color: white;
    padding: 20px 0 15px 0;
}
.foo-sec2 h5{
  color: white !important;
}
.foo-sec2 span span{
    border-left: 2px solid white;
}

/* owl caro */
#demoss{
  background-color: #1e6030;
  height: auto;
}
#demoss .row1{
    padding: 50px 0 !important;
}
#demoss img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#demoss .item{
  background-color: rgba(245, 222, 179, 0) !important;
}
#demoss .row1 .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
#demoss .row1 {
    position: relative;
}
#demoss .row1 .owl-nav button.owl-prev {
    left: -22;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    top: -33px;
}
#demoss .row1 .owl-nav button.owl-next {
    right: -22px;
    position: absolute;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    top: -33px;
}


/* caro */

.carousel-indicators > li {
    border-radius: 50%;
    width: 40px;
    opacity: 1;
    height: 40px;
  }
 .carousel-indicators li:hover {
    background-color: #42b439;
  }
  .carousel-indicators .active{
    background-color: #42b439;
  }
  .carousel-indicators {
    /* bottom: 46px;
    left: 22; */
    bottom: 10%;
    left: 3%;
    justify-content: flex-start;
}


